<!--
get '/favourites' do
  @fav_links = ['terminator2', 'aliens', 'starwars', 'predator', 'rocky']
    erb (:favourites)
end -->

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>favourites links</title>
</head>
<body>

  <h1>favourites links</h1>

<ul>
<% @fav_links.each do |fav_links| %>
<li> <%= fav_links %> </li>


<% end %>
</ul>

<body>
<html>
