<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>welcome the the gallery</title>
</head>
<body>
<h1>welcome to the gallery</h1>
<% 25.times do |i| %>
<img src="https://picsum.photos/200/300/?random=<%=i%>">
<%1 end %>
<body>
<html>
